@charset "utf-8";
@font-face {
    font-family:"joaoo";
    src: url(SeymourOne-Regular.ttf);}

  body{
    background-color: #f2f2f2;
  }

img{
  margin: auto;
    height: 90px;   
}

p{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

  div#principal{
    padding-top: 230px;
  }

  header {
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  textarea{
    height: 200px;
    width: 100%;
  }

  li{
    list-style-type: none;
  }

  div#back{
    margin: auto;
    text-align: center;
    width: 80%;
    background-color: #f2f2f2;
  }